{% extends "base.html.twig" %}

{% block body %}

<h1>{{ program.title }}</h1>

<h2>Saison : {{ season.number }}</h2>

<h3>Liste des épisodes:</h3>
<ul>
    {% for episode in episodes %}

        <li>Episode {{ episode.number }} : {{ episode.title }}</li>    
        <a href=" {{ path("program_episode_show", {"programId" : program.slug, "seasonId" : season.id, "episodeId" : episode.slug}) }} "> détails</a>
    {% endfor %}

</ul> 
<a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}