{% extends 'base.html.twig' %}

{% block title %}Série #{{ programs.id }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{programs.poster}}" alt="{{ programs.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ programs.title }}</h1>
            <p>{{ programs.synopsis }}</p>
            <p>Catégorie : {{ programs.category.name }}</p>
            
            {% for season in programs.seasons %}
            <li><a href="{{ path('program_season_show', {programID: programs.id, seasonID: season.id}) }}">Saison {{ season.number }}</a></li>               
            {% endfor %}
            
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}